*{
  outline: none;
  background-color: #0c0e18;
}

.active{
  background-color:transparent;
  border-bottom: 4px solid rgb(194, 34, 202);

}


nav{
  background-color: rgb(19, 19, 32);

}
.nvbg{
  background-color: transparent;
  display: flex;
  align-items: center;
  
}
.nav-right-btn{
  background-color: rgb(35, 35, 53);
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;

} 